<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center font-weight-bold">What does our curriculum cover?</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-5">
                <p>In addition to competitive speech, debate, and Model United Nations training, we also offer general public speaking and debate programming. We cover everything from the fundamentals of public speaking all the way to crafting a coherent argument. Regardless of the specifics of the training, our curriculum is always focused on</p>
                <h4 class="color-a">The 3 F words we love:</h4>
            
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="text-center">
                    <img src="{{ asset('images/step1.png')}}" class="img-fluid">
                </div>
            </div>
            <div class="col-md-6">
                <ul>
                    <li>○	Group activities to encourage leadership </li>
                    <li>○	Interactive lesson plans</li>
                    <li>○	Built a culture so our students look forward to our</li>
                </ul>
            </div>
        </div>
        <div class="text-md-left text-center">

        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <a href="#" data-toggle="modal" data-target="#demoRequest" title="Request a Demo"><button type="button" class="btn buttonCoach text-uppercase mt-5 mb-5">Get Started</button></a>
                </div>
            </div>
        </div>
    </div>
</section>